# Node
node_modules/
.next/
out/
dist/
build/

# env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Python
__pycache__/
*.pyc

# notebook checkpoints
.ipynb_checkpoints/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# editor / OS
.vscode/
.DS_Store
Thumbs.db